$h1-fontSize: 3rem;
$h2-fontSize: 1.8rem;
$h3-fontSize: 1.6rem;
$font-size-mob: 12px;
$font-size-tab: 16px;
$font-size-desk: 18px;
$dark-bg: #2B1E00;
$orange-color: #F88B00;
$yellow-color: #FFFFB7;
$green-color: #6E8F35;
$head-image: url('../images/cook-food-kitchen-eat-54455.jpeg') no-repeat;
$font: 'Roboto', sans-serif;