$fontFamily: sans-serif;
$white: #fff;
$black: #000;
$headBG: url('./images/moneyBG.jpeg') no-repeat;
$red: #fb3f3f;
$largeHead: 30px;
$largeFont: 25px;
$lightBlue: #9bcbe7;
$contentFont: 18px;
$blue: #0962dd;
